/* .container{
  width: 80%;
  background: blanchedalmond;
  margin: auto;
} */

.header{
  color:white;
  font-size: 30px;
}

.header:after{
  clear:both;
  display:table;
  content:"";
}

.h1{
  width: 60%;
  float:left;
}

.h2{
  width:40%;
  float:right;
  padding-top: 10px;
}
